CompetencyAssessment/CompetencyAssessment/Connected Services/MyMailingService/MailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53214/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MailingService" />
  <xs:element name="Validation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MailingService" minOccurs="0" name="AI" nillable="true" type="q1:AuthInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MailingService" minOccurs="0" name="ValidationResult" nillable="true" type="q2:AuthOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>